
@{
    ViewData["Title"] = "AgregarLista";
}

<h2>AgregarLista</h2>
<form action="/ListaReproduccion/AgregarLista" method="post">
    <input name="NombreLista"/>
    <button>Agregar</button>
</form>
