/*
 * Basic CSS starts 
 */
 
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');


.playlist-content .playlist-number {
	margin-bottom: 10px;
	padding: 10px 15px;
	background: #fafafa;
	border: 1px solid #ddd;
	opacity: 60%;
	
}

.playlist-content .playlist-number .song-info {
	float: left;	
}

.playlist-content .playlist-number .song-info h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
}
.playlist-content .playlist-number .song-info p {
	font-size: 12px;
	font-style: italic;
}

.playlist-content .playlist-number .music-icon {float: right;}
.playlist-content .playlist-number .music-icon a {
	display: inline-block;
	width: 30px;
	height: 45px;
	line-height: 45px;
	font-size: 20px;
	text-align: center;
}
